// icon.component.scss
:host {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: inherit;
    overflow: visible;
    --ng-icon__stroke-width: 2px !important; // Fuerza el renderizado
}

.icon {
    font-size: 1.25em; // Tamaño óptimo basado en Vercel/Linear
    overflow: visible;
    display: block; // Previene problemas de line-height en SVG inline
}