<div class="auth-page-container fade-in">
    <!-- Lado Izquierdo: Branding (Solo visible en Desktop >= 1024px) -->
    <app-auth-branding></app-auth-branding>

    <!-- Lado Derecho: Contenido interactivo -->
    <div class="auth-content">
        <app-auth-card title="Crear nueva contraseña" subtitle="Ingresa el código que enviamos a tu WhatsApp">

            <form [formGroup]="resetForm" (ngSubmit)="onSubmit()" class="auth-form">



                <app-auth-input formControlName="otp" label="Código de Seguridad" type="text" placeholder="123456"
                    icon="lucideHexagon" [error]="otpError">
                </app-auth-input>

                <app-auth-input formControlName="newPassword" label="Nueva Contraseña" type="password"
                    placeholder="••••••••" icon="lucideShield" [error]="newPasswordError">
                </app-auth-input>

                <app-auth-button type="submit" [isLoading]="authService.isLoading()" [isDisabled]="resetForm.invalid"
                    text="Guardar y Entrar">
                </app-auth-button>

                <div class="auth-form__footer">
                    <a routerLink="/auth/recover-password" class="auth-form__link auth-form__link--center">Solicitar
                        otro
                        código</a>
                </div>

            </form>
        </app-auth-card>
    </div>
</div>