<div class="auth-page-container fade-in">
    <!-- Lado Izquierdo: Branding (Solo visible en Desktop >= 1024px) -->
    <app-auth-branding></app-auth-branding>

    <!-- Lado Derecho: Contenido interactivo -->
    <div class="auth-content">
        <app-auth-card title="Recuperar Contraseña" subtitle="Ingresa tu correo para recibir un código de WhatsApp">

            <form [formGroup]="recoverForm" (ngSubmit)="onSubmit()" class="auth-form">



                <app-auth-input formControlName="email" label="Correo Electrónico" type="email"
                    placeholder="ejemplo@empresa.com" icon="lucideUser" [error]="emailError">
                </app-auth-input>

                <app-auth-button type="submit" [isLoading]="authService.isLoading()" [isDisabled]="recoverForm.invalid"
                    text="Enviar Código">
                </app-auth-button>

                <div class="auth-form__footer">
                    <a routerLink="/auth/login" class="auth-form__link auth-form__link--center">Volver a inicio de
                        sesión</a>
                </div>

            </form>
        </app-auth-card>
    </div>
</div>